# Files
*.nc
*.json
*.pyc
*.pickle
*.DS_Store
*.png
*-checkpoint.ipynb
*.python-version
*.swp

# Directories
**/backup/
**/data/output/
**/data/input/synthetic/
**/examples/
**/libgpuarray
**/uoapi
**/hydrology-models
